In [ ]:
# Python Tut

# Python Tutorial

1. 語法
    - 運算
    - 控制
2. 結構
    - 變數
    - 函數
    - 物件
    - 模組
3. 命令列

In [ ]:
print("Hello world")

Hello world

In [ ]:
print(1 + 1)

2

In [ ]:
print(1 + 3)
print(5 - 3)
print(13 * 2)
print(256 / 16)
print(54 % 7)
print(54 // 7)
print(13 ** 2)

4
2
26
16.0
5
7
169

In [ ]:
print("Line 1\nLine 2")
print("Column 1\tColumn 2")

Line 1
Line 2
Column 1	Column 2

In [ ]:
print()

In [ ]:
print('single quote')
print("double quote")
print("""triple quote (double)""")
print('''triple quote (single)''')
print("""triple quote also called docstring
It will remain all texts inside, including newlines.""")

single quote
double quote
triple quote (double)
triple quote (single)
triple quote also called docstring
It will remain all texts inside, including newlines.

In [ ]:
print("17 * 32 =", 17 * 32)

17 * 32 = 544

In [ ]:
# > < --> if

In [ ]:
# 控制
if 2 > 1:
    print("2 is greater than 1.")

2 is greater than 1.

In [ ]:
if 1 > 2:
    print("1 is greater than 2.")

In [ ]:
if 1 > 2:
    print("1 is greater than 2.")
else:
    print("It's not!")  # notice single quote in double-quoted string

It's not!

In [ ]:
if 1 > 1:
    print("1 > 1")
elif 1 == 1:
    print("1 == 1")
else:
    print("1 < 1")

In [ ]:
a = 5
b = "hello"
c = 1.2
d = 1 + 2j

In [ ]:
d

(1+2j)

In [ ]:
e = 'good'
f = """This is
better."""

In [ ]:
g = True
h = False

In [ ]:
k = a + 3
print(k)

8

In [ ]:
l = b + " everybody"
print(l)

hello everybody

In [ ]:
# Text Type:	str
# Numeric Types:	int, float, complex
# Sequence Types:	list, tuple, range
# Mapping Type:	dict
# Set Types:	set, frozenset
# Boolean Type:	bool
# Binary Types:	bytes, bytearray, memoryview

In [ ]:
i = 0
if i < 3:
    print("i < 3")
else:
    print("i >= 3")

i < 3

In [ ]:
print(i < 3)
# the compare returns a bool value

True

In [ ]:
while i < 3:
    print(i)
    i = i + 1

0
1
2

In [ ]:
# repeat 3 times
for i in range(3):
    print(i)

0
1
2

In [ ]:
# list
a = [1, 5, 7]
print(a[0])

1

In [ ]:
for i in a:
    print(i)

1
5
7

In [ ]:
# dict
b = {"x": 3, "y": 7, "z": 12}
print(b["y"])

7

In [ ]:
for j in b:
    print(j)
    print(b[j])

x
3
y
7
z
12

In [ ]:
# set
c = {3, 5, 4}
# the set does not preserve order
for k in c:
    print(k)

3
4
5

In [ ]:
print([1, 2, 3] == [1, 3, 2])
print({1, 2, 3} == {1, 3, 2})

False
True

In [ ]:
# immutable datatypes
# tuple
j = (2, 3)
# frozenset
k = frozenset((5, 4))

## Functions

In [ ]:
def add(x, y):
    return x + y

print(add(1, 2))

3

In [ ]:
def add1(x, y=3):
    print("x is ...")
    print(x)
    return x + y

print(add1(3, 5))
print(add1(5))
print(add1(x=3, y=7))
print(add1(y=12, x=-5))

x is ...
3
8
x is ...
5
8
x is ...
3
10
x is ...
-5
7

In [ ]:
# print is a function
# print(value, ..., 
#       sep=' ', 
#       end='\n',
#       file=sys.stdout, 
#       flush=False)
print(3, 5)
print(4, 5, sep='$$')
print(3, 5, end='p')  # no newline

3 5
4$$5
3 5p

In [ ]:
# Better printing
def add1(x, y=3):
    print("x is ...", x)
    return x + y

print(add1(3, 5))
print(add1(5))
print(add1(x=3, y=7))
print(add1(y=12, x=-5))

x is ... 3
8
x is ... 5
8
x is ... 3
10
x is ... -5
7

In [ ]:
x = 5
# string formatting
print("a" + "b")
print("x is", x)
print("x is " + str(x))
print("x is {}".format(x))
print("x is {0}".format(x))
print(f"x is {x}")
print("x is {:3d}".format(x))
print(f"x is {x:3d}")

ab
x is 5
x is 5
x is 5
x is 5
x is 5
x is   5
x is   5

In [ ]:
def func(a1, a2, *args, **kwargs):
    print(f"a1 is {a1}.")
    print(f"a2 is {a2}.")
    print(f"args is {args}.")
    print(f"kwargs is {kwargs}.")

In [ ]:
func(2, "fellow", 3, 5, a=3, b=[3, 4])

a1 is 2.
a2 is fellow.
args is (3, 5).
kwargs is {'a': 3, 'b': [3, 4]}.

In [ ]:
# or help(func)
func?

In [ ]:
# def func(a, b, /, c, d, *, e)

In [ ]:
class Car:
    def __init__(self, x=5):
        self.x = x

vios = Car(3)
print(vios.x)

3

In [ ]:
class Tesla(Car):
    def __init__(self, y=7):
        super(Tesla, self).__init__()
        self.y = y

elonmusk = Tesla()
print(elonmusk.x)
print(elonmusk.y)

5
7

In [ ]:
# import module

In [ ]:
# CLI